.navbar-stockapi {
  justify-content: space-between;
  background: white;
}

.navbar-stockapi .navbar-collapse {
  flex-grow: 0;
}

.navbar-stockapi .navbar-brand img {
  width: 90px;
  height: 70px;
}
